.only-docs-docusaurus:
  only:
    changes:
      - ".gitlab-ci.yml"
      - "docs/docusaurus/**/*"

docusaurus:build:
  stage: build
  extends:
    - .only-branches
    - .only-docs-docusaurus
    - .except-wip-or-non-api-tags
  tags:
    - misakey_js
  script:
    - npm install
    - npm run build

docusaurus:deploy:
  stage: deploy
  extends:
    - .only-tags
    - .only-docs-docusaurus
  tags:
    - misakey_js
  script:
    - npm install
    - npm run build
    - cp -r build public
  artifacts:
    paths:
      - public
