.only-docs-hugo:
  only:
    changes:
      - ".gitlab-ci.yml"
      - "docs/hugo/**/*"

variables:
  DOCUMENTATION_URL: "https://misakey.pages.misakey.dev/backend/"

hugo:build-index:
  stage: build
  image:
    name: node:latest
  extends:
    - .only-tags
    - .only-docs-hugo
  tags:
    - misakey_docker
  script:
    - npm install grunt string toml
    - npm install -g grunt
    - cd docs/hugo && grunt lunr-index
  artifacts:
    name: "docs-hugo:index-$CI_PIPELINE_ID"
    paths:
      - docs/hugo/static/js/lunr
    expire_in: 1 hour

hugo:deploy:
  stage: deploy
  image:
    name: klakegg/hugo:latest
    entrypoint: [""]
  dependencies:
   - hugo:build-index
  extends:
    - .only-tags
    - .only-docs-hugo
  tags:
    - misakey_docker
  script:
    - echo "Will deploy documentation on $DOCUMENTATION_URL"
    - hugo -s docs/hugo --baseURL "$DOCUMENTATION_URL"
    - cp -r docs/hugo/public public
  artifacts:
    paths:
      - public
