/* All */
a {
  display: inline-block;
  text-decoration: none;
  color: #e32e72;
  font-weight: 500;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  position: relative;
}

a:hover {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  text-decoration: underline;
}

a:visited{
  color: #e32e72;
  columns: #e32e72;
}

body {
  padding: 1em;
  font-family: Georgia, Helvetica, sans-serif;
  color: #222;
  max-width: 50em;
  margin: auto;
}

h1, h2, h3 {
  font-weight: normal;
}

h2 {
  border-bottom: 1px solid #DDD;
  margin-top:1em;
  font-weight: bold;
}

/* Tables Of Content */
.toc_li {height: 2px;}

/* Ensure the page has no horizontal scrolling with the TOC */
pre {
  background-color: #F5F5F5;
  padding: 1em;
  border: 1px solid #DDD;
  overflow-x: scroll;
}

:not(pre) > code {
  background-color: #F5F5F5;
  padding: 0.15em 0.3em;
  border: 1px solid #DDD;
  border-radius: 0.3em;
  color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search {
    height: 25px;
}
