[server]
  port = 5000
  # optional location of avatars files (in case of ENV=development - storage on the file system instead of remote aws s3)
  avatars = "/etc/avatars"
  # string used to build avatar final url (in case of ENV=development)
  avatar_url = "https://api.misakey.com.local/avatars"
  # optional location of box encrypted files (in case of ENV=development - storage on the file system instead of remote aws s3)
  encrypted_files = "/etc/encrypted-files"

[authflow]
  # frontend location to ask for user to authenticate
  login_page_url = "https://app.misakey.com.local/auth/login"
  # frontend location to ask for user to consent
  consent_page_url = "https://app.misakey.com.local/auth/consent"
  # auth hydra endpoint
  auth_url = "https://auth.misakey.com.local/_/oauth2/auth"
  # redirect uri used in the auth flow to retrieve final tokens using code - configured on hydra
  code_redirect_url = "https://api.misakey.com.local/auth/callback"
  # the url when the user's agent is redirect after the tokens obtention
  token_redirect_url = "https://app.misakey.com.local/callback"
  # token hydra endpoint
  hydra_token_url = "https://auth.misakey.com.local/_/oauth2/token"
  # id of misakey app sso client
  self_client_id = "00000000-0000-0000-0000-000000000000"
  # application base64 encoded JWK: https://tools.ietf.org/html/rfc7517
  # used to authenticate as a client using private_key_jwt method on client_credentials grant
  self_encoded_jwk = "eyJwIjoiN3J0c28xZUZWd2JMRFVWSm5hZE5SaVp3TjBIR19xS2FTWWlVaU0ta1JQVEczVWFjbHRMZGRReG9CeVRhTHhLeGRnNmV1ZWFmQ0JUc1JhNVl1amh1ckpOUVltS0MzcFBtek5wajg5UVItdG5ZN1pmYlhWVEJFR1RzQXZpZUJhTEtQWm42SXd5b2RpcUgzV0phX1c4c29UTjl6d0N2YUJKeFZvMXBISzZvN1BVIiwia3R5IjoiUlNBIiwicSI6Im95MHZxR2tEOXh2X1hFR0pReUNSTllDMGthaGZMd2N2d2h2Qm05VVZ3RTh4VjRiWHRVYXBIbmJ5c014dlpLNllVYVVTNENJbTZMRWZ1QjdxbXZNemhac2d0N0F6Y1RXcGRzbUVuYWFBQko1TGZDSmcwSkx0ekxKSk1ibHFiYllSRHprRGxidUoxZTBaOTR3YUVaVmNUYVdPcUoxdm1IUEdocWpsTk45cy1CTSIsImQiOiJYaFhiVm1rTTZwZkJxNFJyemtDRUtoTEI2QkNGekYydHdoZkdRYUs3NVZiMmE0UGJlWDM1VmZpUzEyanZDeTYxRWg1YkU4Z0FWamsyZkNrX3pPTUtOMzN3b1NmNlZ1dFRSdmEyOXF3dE9hTXd4SE5uaXNEdl9tWTNpVnNKZzVBaFMySnR0b3BlbkVTU2xJYUdmSXF2dUJUZkNaMFBUS05CTEdKUHd0MmNHZkNuc0dSYjZuSEFzSEVieDZFMzdBUTI0bDY3TGpXSkxFZEN0U2Q0ZFEtS041VXVUVTVQUTI3NVE5WkFzLWFqTXJrM3ViNGdwOUJ5VHNHZnRVXzNNbm93UVAwNmpBakhzc2htRUJNZEZ1VHE1SFlDdENXZXVxSlNtVkhNOHlBdkpvN0w3enpWSHZSSkZKdWR5QXppbkttdnJwc2lfc2FYaGpxMEIzeklLY1ZNYVEiLCJlIjoiQVFBQiIsInVzZSI6InNpZyIsImtpZCI6IjZkOGMyYTFhLTU0YmQtMTFlYS1hMmUzLTJlNzI4Y2U4ODEyNSIsInFpIjoialhPU09kX1M0NEdITi1EOG5tWXQtc1Z5UFRabV9VVC1sZ0lPM3RpV3VZcmNjbHNQNzRzMFY2ZGc4alBtajI3X0JpSTBIMTl3czQyUmJBeUlEZjd4aGZGMnRUSExKajE1akhHTVFYSVpjTWhNUXlyRGtOY3ltcEtuNno4TUlKWWNXRzFnbkFIZHlWNWduWXlEbkRwYkhwb0pKU25hRHZIRE1YY2JGUlVsa3FFIiwiZHAiOiJVS3J5UmF0d09mem9wZDVReHIzZWhhSzlibDZDb0U1UGRpTjVsVlVjZTlSLVVnem5JcXV6LXpZcV9LYi1Oc1BKUlV3aFpFM0NWUmZFMHJMYjltalZOT2stVTFCWVNsLU5zSkRuRDJBTWgwZ1BYaEZmSllWYkMzQWVzODVRanpUM3c2TUEtOUR1SjZldGF5Z3QtTThWTkk5U3BwempxSFg2NkRVMlhHUEVYdlUiLCJhbGciOiJSUzI1NiIsImRxIjoiU09SNmthUzMzTDlwQjNGUE8tbGtkSjRXQzZ0SE9kN2Ytcm9qZHRWdGJnYnlaOE1Zd1NYYmpueGNWWlk5ZktCeDhxYm5FN0N0Nk95VzJzMFV5RHMwSE03N2dwTDNwLTdzME4tY21rQXlsOTJPb3RsSW5tUEVUdGlsMGN5ZU9ueEdpcUpSYzZYZklPMVYyRHVCdWJFYkZxU0tZZEJTZGF2aVYyMURWcWNvS25rIiwibiI6Im1DdDVqNDlRSTA3QWZ2X014SUlWbGNSbUNVYncwdnVsMjRHRmlLT3dYejBWbmF4Q045aFh0dnEwWHQyRzhOUmd0M3p0ZTlDa3AxUDhYcU04bm9xLWNjaHhXX3ZBVmZUb1IyQ2hBbU9VUWE1Nmt2QTh2VTZUX3BsSzVNNU4xb2MtQ3czakR2RWhDaEpUcEF2ZV9ZbUU3NUpFdHVrM3dIdzN1RTJvZ2RNemJmNzI5NUNha0haNUZDQkFtdTA3a3ZXSGh3OVc5SlB3T29mZnFTQmU0aXcxYWQ4ODZVZ0d2Z1BmblhURGQ0MjIzV1g0LVRnZ2syMjlYaUJabXFTNU01cEhPaEhHLV9VejZzdVpaTUJkQjNscUU2YndIbXhqbFBjd3RhbzJLU0ttNFFqYW1hVE5ZZnA4bmpRdGZiV1NzRWlsYWFEZUoxQmRQZTBUb0xiRl9uTHVMdyJ9Cg=="

[hydra]
  # enable/disable TLS
  secure = false
  # admin/public url of hydra backend service
  admin_endpoint = "hydra:4445"
  public_endpoint = "hydra:4444"

[mail]
  templates = "/etc/templates"
  from = "Misakey <local-protection@misakey.com>"

[redis]
  address = "redis"
  port = 6379

[backup_key_share]
  expiration = "1h"

[websockets]
  allowed_origins = ["https://app.misakey.com.local"]

[log]
  level = "info"

# only used if ENV=production
# [aws]
#   # region slug name used for Amazon SES
#   ses_region = "eu-west-1"
#   s3_region = "eu-west-3"
#   user_content_bucket = "usercontent.preprod.misakey.dev"
#   encrypted_files_bucket = "preprod-encrypted-files"
#   # name of the SES configurationset (to retreive emails bounces and complaints in logwatch)
#   # (values: misakey_prod_default_email_cs, misakey_preprod_default_mail_cs)
#   ses_configuration_set = "misakey_preprod_default_mail_cs"
