.only-docs:
  only:
    changes:
      - ".gitlab-ci.yml"
      - "docs/**/*"

docusaurus:build:
  stage: build
  extends:
    - .only-branches
    - .only-docs
    - .except-wip-or-non-api-tags
  tags:
    - misakey_js
  script:
    - npm install
    - npm run build

pages:
  stage: deploy
  extends:
    - .only-tags
    - .only-docs
  tags:
    - misakey_js
  script:
    - cd docs
    - npm install
    - npm run build
    - cp -r build ../../public
  artifacts:
    paths:
      - public
